<!DOCTYPE HTML>
<html>
	<head>
		
	</head>

	<body>
		<form class="form-inline">
	      <div class="form-group">
	        <label for="nameInput">Stock Label</label>
	        <input type="text" id="stockName" placeholder="First Name">
            <label for="nameInput">Days in the past</label>
            <input type="text" id="days" placeholder="50">
	      </div>
	      <button type="submit" class="submit-button">Submit</button>
	    </form>
	    <script src="{{ url_for('static', filename='jquery.js') }}" type="text/javascript"></script>
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.js" type="text/javascript"></script>
	    <div class="graph-container">
        	<canvas id="myChart" width="400" height="200"></canvas>
    	</div>

    	<script src = "{{ url_for('static', filename='graph.js') }}" type="text/javascript"></script>
        <script src = "{{ url_for('static', filename='lin_regression.js') }}" type="text/javascript"></script>

	    <script type="text/javascript">
    		$(function(){
    			function getData(ticker){
    				var myvar;
    				$.ajax({
    					url: 'https://www.alphavantage.co/query?function=TIME_SERIES_INTRADAY&symbol=' + ticker + '&interval=5min&apikey=4RKAADTMMAZ4U000&datatype=csv',
    					type: 'GET',
    					success: function(data){
    						myvar = data;
    					},
    					async: false,
    				});
    				return myvar
    			}
    			$('.submit-button').on('click', function(event) {
    				var input = $('#stockName').val();
                    var days_past = $('#days').val();
    				//sending an ajax request to the server, sending the ticker requested by client
    				$.ajax({
    					url: '/data',
    					type: 'POST',
    					data: {name: input, history:days_past/*, data:getData(input)*/},
    				})
    				.done(function(data) {
    					create_bar_graph('line', data.date, data.open, "Open price")
                        graphing_lines(data.slope_yint)
    					//$('body').append(data.prices + data.open + data.date)
    				});
    				event.preventDefault();


    			});
    		})
	    </script>

	</body>
</html